<script>
	let searching = false;
	let tekstikentta;
	let tulokset = [];
	// Prototype (preferred)
	String.prototype.fixedSize = function(size) {
	  return this.padEnd(size).substring(0, size);
	}
	function countC(string, c){
		return (string.match(new RegExp(c, "g")) || []).length
	}
	function unclean(err){
		return err.replaceAll("%E4", "ä").replaceAll("%F6", "ö").replaceAll("%E5", "å");
	}
	function query(text, platform){
		tulokset = [];
		let formData = new FormData();
		let q  = '';
		if(platform == 0){
			q = 'querym';
		}
		else if(platform == 1){
			q = 'querymsan'
		}
		formData.append(q, text);
		(async () => {
			const rawResponse = await fetch('https://kirjat-ml.herokuapp.com/api/v1', {
				method: 'POST',
				headers: {},
				body: formData
			});
			const content = await rawResponse.json();
			if(searching){
				console.log(content);
				for(var tulosInd in content){
					let tulos = content[tulosInd];
					tulokset.push(tulos);
					console.log(tulos);
				}
				tulokset = tulokset;
				searching = false;
			}
			else{
				console.log("Search cancelled.");
			}
		})();
	}
	function haeNappi(){
		if(searching){
			searching = false;
		}
		else{
			searching = true;
			let val = tekstikentta.value;
			val = val.replaceAll("\n\n", "\n");
			let lineC = countC(val, "\n");
			console.log(lineC);
			if(lineC > 0){
				if(val[val.length-1] === "\n"){
					val = val.substring(0, val.length-1);
				}
			}
			console.log(val);
			query(val, 0);
		}
	}

</script>

<main>
	<div class="otsikkoCont container">
		<h1> Kirjat.ml svelte-frontend </h1>
	</div>
	<div class="haeCont container">
		<p></p>
		<textarea class="tekstikentta hae" bind:this={tekstikentta} id="tekstikentta"></textarea><br>
		<button class="hae haenappi" on:click={haeNappi}> <label for="tekstikentta"> {searching ? "Haetaan..." : "Hae"} </label> </button>
	</div>
	<div class="results container">
		{#each tulokset as result, i}
			<h3> Tulokset haulle {result.query[i]} </h3>
			<p> {result.err.length > 0 ? ("Virhe: " + unclean(result.err)) : ""} </p>
			{#each result.data as kirja, i2}
				{#if kirja.id != 0}
					<div class="kirja">
						<h3 class="kirjaOtsikko"> {kirja.name} </h3>
						<a href={kirja.link}>
							<img src={kirja.image} alt="Kuva kohteesta {kirja.name}" class="kirjaKuva"/>
							<p class="kirjaLinkki">Avaa kaupassa</p>
						</a>
						<p> "{kirja.id}" </p>
					</div>
				{/if}
			{/each}
			<hr />
		{/each}
	</div>
</main>

<style>
	main {
		text-align: center;
		background: #222222;
		color: white;
	}
	label {
		/*text-align: left;*/
	}
	.otsikkoCont {
		margin-bottom: 1em;
	}
	.haeCont {
		margin-bottom: 1em;
	}
	.container {
		border: solid 1px #dddddd;
		margin-left: auto;
		margin-right: auto;
		padding: .5em;
		min-width: 60%;
		max-width: 75em;
	}
	.tekstikentta{
		/*
		outline: none;
		*/
		resize:  vertical;
	}
	.hae {
		width: 99%;
		border-radius: 0;
	}
	.haenappi{
		transition: box-shadow 0.3s;
	}
	.haenappi:hover {
		color: black;
		box-shadow: inset 100em 0 1em #aaaadd;
	}
	.results {
		
	}
	.kirja {
		border: 1px solid #cccccc;
		max-width: 45%;
		margin: 0.5em;
		padding: 0.25em;
		color: black;
		background: #dddddd;
		display: inline-block;
	}
	.kirjaOtsikko {
		word-wrap: anywhere;
	}
	.kirjaKuva {
		max-width: 95%;
	}
	.kirjaLinkki {
		overflow: clip;
	}
</style>
